{% extends 'base.html' %} {% load static %} {% block content %}
<section class="banner-area organic-breadcrumb">
  <div class="container">
    <div
      class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end"
    >
      <div class="col-first">
        <h1>Riwayat Pesanan</h1>
        <nav class="d-flex align-items-center">
          <a href="{% url 'home' %}"
            >Home<span class="lnr lnr-arrow-right"></span
          ></a>
          <a href="#">Riwayat</a>
        </nav>
      </div>
    </div>
  </div>
</section>
<section class="cart_area">
  <div class="container">
    <div class="cart_inner">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">No. Pesanan</th>
              <th scope="col">Tanggal</th>
              <th scope="col">Total</th>
              <th scope="col">Invoice</th>
              <th scope="col">Aksi</th>
            </tr>
          </thead>
          <tbody>
            {% for order in orders %}
            <tr>
              <td>
                <p style="font-weight: bold; color: #222">
                  #{{ order.order_number }}
                </p>
              </td>
              <td>
                <h5>{{ order.created_at|date:"d M Y" }}</h5>
              </td>
              <td>
                <h5>Rp {{ order.grand_total }}</h5>
              </td>
              <td>
                <a
                  href="{% url 'admin_order_pdf' order.id %}"
                  target="_blank"
                  class="btn btn-sm btn-outline-primary"
                >
                  <i class="fa fa-file-pdf"></i> Download PDF
                </a>
              </td>
              <td>
                {% if order.status == 'Cancelled' %}
                <span
                  class="badge"
                  style="color: black; padding: 5px 12px; border-radius: 4px"
                  >❌ Dibatalkan</span
                >

                {% elif order.status == 'Returned' %}
                <span
                  class="badge"
                  style="color: black; padding: 5px 12px; border-radius: 4px"
                  >✅ Rerund</span
                >

                {% elif order.status == 'Completed' %}
                <span
                  class="badge"
                  style="color: black; padding: 5px 12px; border-radius: 4px"
                  >✅ Selesai</span
                >

                {% elif not order.is_ordered %}
                <span
                  class="badge"
                  style="color: black; padding: 5px 12px; border-radius: 4px"
                  >⏳ Menunggu Pembayaran</span
                >

                {% else %} {% if order.tracking_number %}
                <span
                  class="badge"
                  style="color: black; padding: 5px 12px; border-radius: 4px"
                  >🚚 Sedang Dikirim</span
                >
                <!-- <div class="mt-1">
                  <small>Resi: {{ order.tracking_number }}</small>
                </div> -->
                {% else %}
                <span
                  class="badge"
                  style="color: black; padding: 5px 12px; border-radius: 4px"
                  >📦 Sedang Diproses</span
                >
                {% endif %} {% endif %}
              </td>
              <td>
                <div class="d-flex flex-column">
                  <a
                    href="{% url 'confirmation' %}?order_number={{ order.order_number }}"
                    class="genric-btn info circle small"
                    >Detail</a
                  >
                </div>
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="5" class="text-center" style="padding: 50px 0">
                <img
                  src="https://cdn-icons-png.flaticon.com/512/11329/11329060.png"
                  width="80"
                  class="mb-3 opacity-50"
                />
                <h3>Belum ada riwayat pesanan.</h3>
                <a
                  href="{% url 'home' %}"
                  class="primary-btn mt-3"
                  style="line-height: 30px; padding: 0 20px"
                  >Belanja Sekarang</a
                >
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{% endblock %}
