{% extends 'base.html' %} {% block content %}
<section class="section_gap">
  <div class="container" style="max-width: 500px; margin-top: 100px">
    <div
      class="login_form_inner"
      style="padding: 40px; border: 1px solid #eee; border-radius: 15px"
    >
      <h3>Reset Password</h3>
      <p class="mb-4">
        Masukkan alamat email Anda untuk menerima instruksi pengaturan ulang
        kata sandi.
      </p>
      <form class="row contact_form" action="" method="post">
        {% csrf_token %}
        <div class="col-md-12 form-group">
          <input
            type="email"
            name="email"
            class="form-control"
            placeholder="Email Address"
            required
          />
        </div>
        <div class="col-md-12 form-group">
          <button type="submit" class="primary-btn w-100">
            Kirim Link Reset
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}
