{% extends 'base.html' %} {% block content %}
<section class="section_gap">
  <div class="container" style="max-width: 550px; margin-top: 50px">
    <div
      class="login_form_inner"
      style="
        padding: 40px;
        border: 1px solid #eee;
        border-radius: 15px;
        text-align: left;
      "
    >
      <h3 class="text-center" style="text-transform: uppercase">
        Atur Kata Sandi Baru
      </h3>
      <p class="text-center mb-4">Silakan masukkan kata sandi baru anda.</p>

      <form class="row contact_form" action="" method="post" novalidate>
        {% csrf_token %} {% for field in form %}
        <div class="col-md-12 form-group">
          <label
            for="{{ field.id_for_label }}"
            style="font-weight: 500; color: #222"
          >
            {{ field.label }}
          </label>

          <input
            type="{{ field.field.widget.input_type }}"
            name="{{ field.name }}"
            id="{{ field.id_for_label }}"
            class="form-control"
            placeholder="{{ field.label }}"
          />
          {% if field.help_text %}
          <small
            class="form-text text-muted"
            style="font-size: 11px; line-height: 1.2"
          >
            {{ field.help_text|safe }}
          </small>
          {% endif %} {% for error in field.errors %}
          <small class="text-danger" style="font-size: 12px">{{ error }}</small>
          {% endfor %}
        </div>
        {% endfor %}

        <div class="col-md-12 form-group mt-2">
          <button
            type="submit"
            class="primary-btn w-100"
            style="border-radius: 5px"
          >
            SIMPAN KATA SANDI
          </button>
        </div>
      </form>
    </div>
  </div>
</section>

<style>
  /* Mengatur agar help text django tidak berantakan */
  .form-text ul {
    padding-left: 15px;
    margin-top: 5px;
    list-style-type: circle;
  }
  /* Memperbaiki tampilan input agar tidak menempel */
  .form-group {
    margin-bottom: 20px !important;
  }
</style>
{% endblock %}
